 
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,300&display=swap');
/* CSS BODY */
body{
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
}
/* CSS MENU */
#menu li > a{
    font-size: 18px;
    font-weight: bold;
    color: black;
}
#menu form > button{
    font-size: 18px;
    font-weight: bold;

}
/* SLIDER IMAGENES */
.carousel-inner{
    max-height: 25rem;

}

container-productos{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
    flex-wrap: wrap;
   
}


/* creamos una clase, que vamos a inyectarla en JS */
.cajaProductos{
    border: 1px solid #000;
    border-radius: 20px;
    padding: 50px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 2em;
    flex-direction: column;
}

img{
    width: 150px;
}




/* MEDIA QUERI */
@media (max-width:768px) {
    #intro{
        width: 90% !important;
    }  
}